body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    
}
/*============NavBar========================*/
#top-nav {
    background: rgba(0,0,0,0.8);
    border-color: rgba(0,0,0,0.8);
}

button.navbar-toggle.collapsed {
    border-color: #9a9a9a;
}

i.fa.fa-arrow-down {
    font-size: 1.2em;
    color: #9a9a9a;
}

div.container-fluid {
    padding: 10px;    
}
a.navbar-brand,
ul.nav.navbar-nav li a {
    font-size: 24px;
    padding-bottom: 3px;
}

ul.nav.navbar-nav.list-unstyled.text-btn {
    font-size: 15px;
}
/*-------------Hover------------------------*/
div.navbar-header a.navbar-brand:hover {
    color: #28a4c9;
}

ul.nav.navbar-nav li a:hover {
    color: #28a4c9;
    border-bottom: 1px ridge #28a4c9;
}
/*==========================================*/

/*===========Header=========================*/
header.jumbotron {
    padding: 200px 40px;
    margin: 0 auto;
    background: url("http://i.imgur.com/vUkMw7f.jpg") no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

header.jumbotron h1 {
    font-size: 63px;
}

/*==========================================*/

/*============Main==========================*/
h1 { font-size: 72px; }
h2 { font-size: 62px; }
h3 { font-size: 52px; }
h4 { font-size: 42px; }

div.text-content ul.list-unstyled li {
    font-size: 1.6em;
    padding-bottom: 10px;
}

ol.list-unstyled li {
    font-size: 1.6em;
    margin-left: 15px;
    padding-bottom: 10px;
}

div.content {
    margin: 0px auto;
    padding: 100px 0px;
    border-bottom: 1px ridge;
    text-align: center;
}

ul.list-unstyled.footer-list li i.fa.fa-chevron-right,
ul.list-unstyled.social li i.fa {
    font-size: 1.6em;
    padding-bottom: 10px;
}

.content-img img {
    border-radius: 5px;
}

div.row.content p {
    font-size: 1.6em;
}

/*==========================================*/

/*============Footer========================*/
footer .container .footer-row {
    background-color: #fafafa;
    margin: 0 auto;
    padding: 20px 0px;
}
footer .col-xs-12 {
    padding: 40px;
    text-align: center;
}
/*==========================================*/

/*===========Media Queries=================*/
@media (max-width: 767px ) {
    .content-img img {
        display: none;
    }
    div.text-content ul,
    ol {
        padding-left: 10px;
    }
    a.navbar-brand {
        font-size: 2.5em;
    }
    button#coll-btn.navbar-toggle.collapsed {
        font-size: 1.4em;
    }
}

@media only screen and (min-width : 768px) and (max-width: 994px) {
    div#hiw h2,
    ol.list-unstyled {
        margin-right: -100px;
    }
}




