body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 15px;
}
/*============NavBar========================*/
#top-nav {
    background: rgba(0,0,0,0.8);
    border-color: rgba(0,0,0,0.8);
}

button.navbar-toggle.collapsed {
    border-color: #9a9a9a;
}

i.fa.fa-arrow-down {
    font-size: 1.2em;
    color: #9a9a9a;
}

ul.nav.navbar-nav li a {
    padding-bottom: 3px;
}
/*-------------Hover------------------------*/
div.navbar-header a.navbar-brand:hover {
    color: #28a4c9;
}

ul.nav.navbar-nav li a:hover {
    color: #28a4c9;
    border-bottom: 1px ridge #28a4c9;
}
/*==========================================*/

/*===========Header=========================*/
header.jumbotron {
    padding: 110px 30px;
    margin: 0 auto;
    background: url("http://i.imgur.com/vUkMw7f.jpg") no-repeat center center fixed;
    color: #fff;
}

header.jumbotron h1 {
    font-size: 63px;
}

/*==========================================*/

/*============Main==========================*/
h1 {
    font-size: 72px;
}
h2 { font-size: 62px; }
h3 { font-size: 52px; }
h4 { font-size: 42px; }
div.content {
    margin: 0px auto;
    padding: 100px 0px;
    border-bottom: 1px ridge;
    min-height: 300px;
    text-align: center;
}
ul.list-unstyled.footer-list li i.fa.fa-chevron-right,
ul.list-unstyled.social li i.fa.fa-chevron-right {
    font-size: 0.5em;
}

.content-img img {
    border-radius: 5px;
}

div#hiw-content {
    //background-color: rgba(201,100,70,0.1);
}
/*==========================================*/

/*============Footer========================*/
footer .container .footer-row {
    background-color: #fafafa;
    margin: 0 auto;
    padding: 20px 0px;
}
footer .col-xs-12 {
    padding: 40px;
    text-align: center;
}
/*==========================================*/

/*===========Media Queries=================*/
@media (max-width: 767px ) {
    .content-img img {
        display: none;
    }
    div.text-content ul,
    ol {
        padding-left: 10px;
    }
}



