body {
    font-family: Roboto, sans-serif;
    font-weight: 200;
    font-size: 40px;

}
header.jumbotron {
    padding: 90px 30px;
    margin: 0 auto;
    background: #7986CD none repeat scroll 0% 0%;
    color: #fff;
}

header.jumbotron h1 {
    font-size: 63px;
}

div.content {
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 1px ridge;
    min-height: 300px;
    text-align: center;
}

footer .container .footer-row {
    background-color: #fafafa;
    margin: 0 auto;
    padding: 20px 0px;
}
footer .col-xs-12 {
    padding: 40px;
    text-align: center;
}

ul li,
ol li {
    list-style: none;
    font-size: 1.3em;
}

.glyphicon {
    font-weight: lighter;
}

div.col-xs-12.col-sm-4.content-img img {
    border-radius: 5px;
}

@media (max-width: 767px ) {
    .content-img img {
        display: none;
    }
    div.text-content ul,
    ol {
        padding-left: 10px;
    }
}



